@import url("//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.3/css/font-awesome.min.css");
.menu, .menu-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #f7f7f7;
    z-index: 10;
    overflow: hidden;
    box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26);
}

.menu li a {
    display: inline-block;
    text-indent: -500em;
    height: 5em;
    width: 5em;
    line-height: 5em;
    text-align: center;
    color: #72739f;
    position: relative;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: background 0.1s ease-in-out;
}

.menu li a:before {
    font-family: FontAwesome;
    speak: none;
    text-indent: 0em;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 1.4em;
}

.menu li a.search:before {
    content: "\f002";
}

.menu li a.archive:before {
    content: "\f187";
}

.menu li a.pencil:before {
    content: "\f040";
}

.menu li a.contact:before {
    content: "\f003";
}

.menu li a.about:before {
    content: "\f007";
}

.menu li a.home:before {
    content: "\f039";
}

.menu-bar li a:hover, .menu li a:hover, .menu li:first-child a {
    background: #005f37;
    color: #fff;
}

.menu-bar {
    overflow: hidden;
    z-index: 5;
    width: 0;
    height: 0;
    transition: all 0.1s ease-in-out;
}

.menu-bar li a {
    display: block;
    height: 4em;
    line-height: 4em;
    text-align: center;
    color: #72739f;
    text-decoration: none;
    position: relative;
    font-family: verdana;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    transition: background 0.1s ease-in-out;
}

.menu-bar li:first-child a {
    height: 5em;
    background: #005f37;
    color: #fff;
    line-height: 5
}

.para {
    color: #033f72;
    padding-left: 100px;
    font-size: 3em;
    margin-bottom: 20px;
}

.open {
    width: 100%;
    height: 5em;
    top: 0;
}

@media all and (max-width: 500px) {
    .container {
        margin-top: 100px;
    }
    .menu {
        height: 5em;
        width: 100%;
    }
    .menu li {
        display: inline-block;
    }
    .menu-bar li a {
        width: 100%;
    }
    .menu-bar {
        width: 15%;
        left: 0;
        bottom: 0;
        height: 0;
    }
    .open {
        width: 100%;
        height: auto;
    }
    .para {
        padding-left: 5px;
    }
}

@media screen and (max-height: 34em) {
    .menu li, .menu-bar {
        font-size: 70%;
    }
}

@media screen and (max-height: 34em) and (max-width: 500px) {
    .menu {
        height: 3.5em;
    }
}

#divMargin {
    margin-top: 15px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 35px;
}

h1 {
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table {
    width: 100%;
    table-layout: fixed;
}

.tbl-header {
    background-color: #005f37;
    margin-top: 6em;
}

.tbl-content {
    height: 400px;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(0, 0, 0, 1);
    background-color: #fff;
}

th {
    padding: 20px 15px;
    text-align: left;
    font-weight: 500;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
}

td {
    padding: 15px;
    text-align: left;
    vertical-align: middle;
    font-weight: 300;
    font-size: 12px;
    color: #000;
    border-bottom: solid 1px rgba(0, 0, 0, 1)
}

/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body {
    /*background: -webkit-linear-gradient(left, #0ea327, #005f37);
    background: linear-gradient(to right, #0ea327, #005f37);*/
    font-family: 'Roboto', sans-serif;
}

section {
    margin-left: 90px;
    margin-right: 10px;
}

/* follow me template */

.made-with-love {
    margin-top: 40px;
    padding: 10px;
    clear: left;
    text-align: center;
    font-size: 10px;
    font-family: arial;
    color: #000;
}

.made-with-love i {
    font-style: normal;
    color: #F50057;
    font-size: 14px;
    position: relative;
    top: 2px;
}

.made-with-love a {
    color: #000;
    text-decoration: none;
}

.made-with-love a:hover {
    text-decoration: underline;
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.7);
}

/*FIM DO INDEX.HTML ------------------------------------------------------------------*/

.container {
    position: absolute;
    transition: opacity 1s ease-out;
    opacity: 0;
    width: 0;
    height: 0;
}

.container.active {
    opacity: 1;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box {
    padding: 32px 45px 35px 45px;
    display:block;
    width: 250px;
    height: 400px;
    background: #fff;
    border: 2px solid #005f37;
    box-shadow: #000 2px 2px 1px;
    border-radius: 10px;
}

body {
    background: url("img/fundo.png") no-repeat;
    margin: 0px;
}

.inputter {
    width: 100%;
    padding: 6px 10px;
    margin: 2px 0;
    box-sizing: border-box;
    border: 2px solid #005f37;
    border-radius: 4px;
    color: #000
}

.obs {
    width: 100%;
    height: 100px;
    margin: 1px 0;
    box-sizing: border-box;
    border: 2px solid #005f37;
    border-radius: 2px;
    color: #000;
}
.noBorder >tr > td {
    border: none;
    padding:0
}
.btn-default {
    -moz-box-shadow: inset 0px 0px 0px 0px #caefab;
    -webkit-box-shadow: inset 0px 0px 0px 0px #caefab;
    box-shadow: inset 0px 0px 0px 0px #caefab;
    background-color: transparent;
    -webkit-border-top-left-radius: 23px;
    -moz-border-radius-topleft: 23px;
    border-top-left-radius: 23px;
    -webkit-border-top-right-radius: 23px;
    -moz-border-radius-topright: 23px;
    border-top-right-radius: 23px;
    -webkit-border-bottom-right-radius: 23px;
    -moz-border-radius-bottomright: 23px;
    border-bottom-right-radius: 23px;
    -webkit-border-bottom-left-radius: 23px;
    -moz-border-radius-bottomleft: 23px;
    border-bottom-left-radius: 23px;
    text-indent: 0px;
    border: 2px solid #005f37;
    display: inline-block;
    color: #000;
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    height: 22px;
    line-height: 22px;
    width: 71px;
    text-decoration: none;
    text-align: center;
    background-color: rgb(255, 255, 255)
}

.btn-default:active {
    position: relative;
    top: 1px;
}

/* This button was generated using CSSButtonGenerator.com */

/* DATA TIP PLUGIN ----------------------------------------------------------------------------- */

[data-tip] {
    position: relative;
}

[data-tip]:before {
    content: '';
    /* hides the tooltip when not hovered */
    display: none;
    content: '';
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #1a1a1a;
    position: absolute;
    top: 3px;
    left: 101%;
    z-index: 8;
    font-size: 0;
    line-height: 0;
    width: 0;
    height: 0;
}

[data-tip]:after {
    display: none;
    content: attr(data-tip);
    position: absolute;
    top: 0;
    left: 104%;
    padding: 2px 6px;
    background: #1a1a1a;
    color: #fff;
    z-index: 9;
    font-size: 0.75em;
    height: 18px;
    line-height: 18px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
    word-wrap: normal;
}

[data-tip]:hover:before, [data-tip]:hover:after {
    display: block;
}

/* ICONES DENTRO DO INPUT ----------------------------------------*/

.divIcone {
    width: 400px;
    background-color: #E7E7E7;
    border: 1px solid #C7C7C7;
}

.btn-delete {
    background: url("img/delete.png") no-repeat center center;
    background-size: 25px;
    width: 17px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.btn-add {
    background: url("img/add.png") no-repeat center center;
    background-size: 15px;
    width: 17px;
    height: 28px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.btn-edit {
    background: url("img/editar.png") no-repeat center center;
    background-size: 15px;
    width: 20px;
    height: 30px;
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

#listMembrosFranquias_chosen>a {
    border: 2px solid #005f37;
    border-radius: 2px;
    height: 30px;
    color: #000;
    margin: 2px 0
}

#submotivoSlt_chosen>a {
    border: 2px solid #005f37;
    border-radius: 2px;
    height: 30px;
    color: #000;
    margin: 2px 0
}

#submotivosLink_chosen>a {
    border: 2px solid #005f37;
    border-radius: 2px;
    height: 30px;
    color: #000;
    margin: 2px 0
}

#motivosLink_chosen>a {
    border: 2px solid #005f37;
    border-radius: 2px;
    height: 30px;
    color: #000;
    margin: 2px 0
}

#motivoSlt_chosen>a {
    border: 2px solid #005f37;
    border-radius: 2px;
    height: 30px;
    color: #000;
    margin: 2px 0
}

#setorSlt_chosen>a {
    border: 2px solid #005f37;
    border-radius: 2px;
    height: 30px;
    color: #000;
    margin: 2px 0
}

/* ANIMAÇÃO XXXXXXXXXX*/

.sectioncnc {
    position: absolute;
    transition: opacity 1s ease-out;
    opacity: 1;
    width: 100%;
    height: 100%;
    visibility: visible;
}

.acesso_negado {
    background: url("img/acessonegado.jpeg") no-repeat;
    background-size: cover;
    height: 100vh !important;
}